<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>蓝色</key>
	<dict>
		<key>L</key>
		<string>0</string>
		<key>S</key>
		<string>20</string>
		<key>M</key>
		<string>10</string>
	</dict>
	<key>咖啡色</key>
	<dict>
		<key>L</key>
		<string>5</string>
		<key>M</key>
		<string>10</string>
		<key>S</key>
		<string>0</string>
	</dict>
	<key>湖蓝色</key>
	<dict>
		<key>L</key>
		<string>10</string>
		<key>M</key>
		<string>0</string>
		<key>S</key>
		<string>100</string>
	</dict>
	<key>红色</key>
	<dict>
		<key>S</key>
		<string>0</string>
		<key>M</key>
		<string>20</string>
		<key>L</key>
		<string>30</string>
	</dict>
	<key>L</key>
	<dict>
		<key>湖蓝色</key>
		<string>10</string>
		<key>咖啡色</key>
		<string>5</string>
		<key>蓝色</key>
		<string>0</string>
		<key>红色</key>
		<string>30</string>
	</dict>
	<key>M</key>
	<dict>
		<key>湖蓝色</key>
		<string>0</string>
		<key>咖啡色</key>
		<string>10</string>
		<key>蓝色</key>
		<string>10</string>
		<key>红色</key>
		<string>20</string>
	</dict>
	<key>S</key>
	<dict>
		<key>湖蓝色</key>
		<string>100</string>
		<key>咖啡色</key>
		<string>0</string>
		<key>蓝色</key>
		<string>20</string>
		<key>红色</key>
		<string>0</string>
	</dict>
</dict>
</plist>
